#results {
	top: 250px;
	left: 0px;
	position: absolute;
	width: 100%;
	min-height: 500px;
	font-family: arial;
	text-align: center;
}

.result {
	transition: 0.2s ease-in-out;
	list-style-type: none;
	padding: 10px;
	cursor: pointer;
	border: 2px solid rgba( 145, 147, 150, 0.2 );
	border-radius: 15px;
	margin-bottom: 15px;
}

.result-meta {
	color: #494949;
}

.result-header {
	font-weight: bold;
}

.result:hover {
	background: lightgrey;
}

.result-header {
	font-size: 32px;
}

.result-original {
	font-size: 15px;
	display: block;
}

.result-rating {
	display: block;
}

.query-input {
	transition: 0.5s ease-in-out;
	width: 80%;
	min-width: 300px;
	height: 80px;
	margin: auto;
	font-size: 36px;
	font-family: arial;
	border: 2px solid #dadada;
    border-radius: 7px;
	padding: 0px 12px;
	text-align: center;
}

.query-input:focus {
	width: 90%;
	outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.query-header {
	font-family: helvetica;
	text-align: center;
	font-size: 48px;
	color: #b7b7b7;
}

.form {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}

.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #e8e8e8;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
	opacity: 0.8;
    display: none;
    position: relative;
    background-color: #f1f1f1;
    margin: auto;
    width: 90%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba( 0,0,0,0.2 );
    z-index: 1;
    font-family: arial;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
	background-color: #ddd
}

.show {
	display:block;
}